.wrapper
  .side-bar
    .side-header
      .side-header__line
        %p.side-header__line__name
          = current_user.name
        %ul.side-header__line__menu
          %li.side-header__line__menu__edit-user
            = link_to new_group_path do
              %i.far.fa-edit
          %li.side-header__line__menu__new-group
            = link_to edit_user_path(current_user) do
              %i.fas.fa-cog


    .groups
      .group
        - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。

  .main
    .main-header
      .main-header__left
        %h1.main-header__left__current-group
          グループ名
        %ul.main-header__left__member-list
          Member:
          %li.main-header__left__member-list__member
            member1
          %li.main-header__left__member-list__member
            member2
          %li.main-header__left__member-list__member
            member3
      %a.main-header__right
        .main-header__right__edit-btn
          EDIT
    .main__messages
      .message
        .message__info
          %p.message__info__taker
            member1
          %p.message__info__date
            2019 3/2(Thu) 19:38:31
          %p.message__text
            こんにちは

    .main__form
      %form.new-message
        .input-box
          %input(placeholder="type a message" class="input-box__text" type="text")
            %i.fas.fa-image
          %input(type="submit" class="submit-btn")
