.wrapper
  .side-bar
    .side-header
      .side-header__line
        %p.side-header__line__name
          = current_user.name
        %ul.side-header__line__menu
          %li.side-header__line__menu__edit-user
            = link_to new_group_path do
              %i.far.fa-edit
          %li.side-header__line__menu__new-group
            = link_to edit_user_path do
              %i.fas.fa-cog


    .groups
      - current_user.groups.each do |group|
      .group
        - current_user.groups.each do |group|
        = link_to
          group__name
          group_messages_path(group) do
        .group__name
          = group.name
        .group__message
          = group.show_last_message

  .main
    .main-header
      .main-header__left
        %h1.main-header__left__current-group
          グループ名
        %ul.main-header__left__member-list
          Member:
          %li.main-header__left__member-list__member
            member1
          %li.main-header__left__member-list__member
            member2
          %li.main-header__left__member-list__member
            member3
      %a.main-header__right
        .main-header__right__edit-btn
          EDIT
    .main__messages
      = render @messages

    .main__form
      %form.new-message
        = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
